language: go
go:
  - 1.5
before_install:
  - sudo apt-get update
  - sudo apt-get install -qq libgl1-mesa-dev xorg-dev
install:
  - go get golang.org/x/tools/cmd/vet
script:
  - go get -t -v ./v3.1/...
  - diff -u <(echo -n) <(gofmt -d -s .)
  - go tool vet .
  - go test -v -race ./v3.1/...
